<script type="text/javascript">

function buildHtmlItem(item){
  var image = undefined,imageFull
  if(item.user && item.user.profilePicture && item.user.profilePicture.url){
    image = item.user.profilePicture.url
    imageFull = image
  }
  if(item.user && item.user.profilePictureFull && item.user.profilePictureFull.url)
    imageFull = item.user.profilePictureFull.url 

  var media = undefined
  var mediaThumbnail = undefined
  if(item.media && item.media.url)
    media = item.media.url
  if(item.mediaThumbnail && item.mediaThumbnail.url)
    mediaThumbnail = item.mediaThumbnail.url
  
  var strForDelete = "{'title':'"+item.title +"','objectId':'"+item.objectId+"'}"
  
  var finalDescription="\n"+item.description
  
  var status = item.status 
  var statusBgColor = "#f39c12"
  var rejectionReason =  item.rejectionReason
  if(rejectionReason === undefined)
    rejectionReason="&nbsp;"
  if (status && status === "rejected") {
      overAllColor = "#fff"
      statusBgColor = "#dd4b39"
      
  }

  var dateColor = "#999"
  if (item.publishedAgo.indexOf("after") !=-1) {
      dateColor = "#DD4B39"
  }
  var html="";
  html += '<div class="info-box" style="padding: 5px 10px; float: left;" id = "divItem_'+item.objectId+'">\
                <!-- App Name and Type -->'
                      html += '<span style="color:#fff;font-weight:bold;background:#5ba65c;margin-top:10px;width:100%;float:left;padding:5px">\
                          Application: '+  item.app.name +'\
                      </span>\
                      <span style="color:#fff;font-weight:bold;background:#3c8dbc;margin-top:10px;width:100%;float:left;padding:5px"> \
                          Post Type: '+  item.type +'\
                      </span>\
                      <span style="color:#fff;font-weight:bold;background:'+statusBgColor+';margin-top:10px;width:100%;float:left;padding:5px">Status: '+
                            status.toUpperCase()+
                      '<label style = "font-size:12px;font-weight:normal">  &nbsp;  &nbsp;'+rejectionReason+'</label>\
                    </span>'
      html += '<!-- Post Meta Data -->\
                <div class="timeline-item" style="clear:both;padding-top:10px; height: 30px;">\
                    <span class="timeline-header"><a href="#">'+ item.title +'</a></span>\
                </div>\
                <div class="category_details" style="font-size: 16px; color:#999;">\
                    <span class="users-list-date pull-right" style="margin-right: 10px;color: '+dateColor+'">\
                        <i class="fa fa-clock-o"></i>  published '+ item.publishedAgo +'\
                    </span>\
                    <span class="users-list-date pull-right" style="margin-right: 10px;">\
                        created '+ item.createdAgo +'\
                    </span>\
                     <span class="users-list-date pull-right" style="margin-right: 10px;">'
                        if(!(status === "approved")) {
                            if (item.push) { 
                                html += '<input type="checkbox" checked="true" id = "cbPushPost_'+ item.objectId +'" onchange="onPushChange(\''+ item.objectId +'\')"><label style="color: #DD4B39" > Push</label>'
                            } else {
                                html += '<input type="checkbox" id = "cbPushPost_'+ item.objectId +'" onchange="onPushChange(\''+ item.objectId +'\')"> <label style="color: #DD4B39" > Push</label>'
                            } 
                        } else {
                              if (item.push) { 
                                html += '<input type="checkbox" disabled="true" checked=""> Push'
                              }else{
                                html += '<input type="checkbox" disabled="true"> Push'
                              }
                        } 
                    html += '</span>\
                    <span class="users-list-date">\
                        <a href="'+window.location+'?categoryId='+ item.category.objectId+'">'+item.category.name+'</a>\
                    </span>\
                </div>\
                <div style="clear:both;"></div>\
            <!-- Post Media & Content -->'
            // if (item.type === "youtube") { 
            //    html += '<div class="timeline-body" style="height: 510px">'
            // } else {
                html += '<div class="timeline-body" style="height: 250px">'
            // }
                   if (item.type === "youtube") { 
                          html += '<div class="embed-responsive embed-responsive-16by9" style="height:inherit">\
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+ item.youtubeId +'" allowfullscreen="" frameborder="0" style="height:inherit"></iframe>  \
                          </div>'
                    } else if (media && mediaThumbnail) { 
                          html += '<div class="embed-responsive embed-responsive-16by9">\
                               <video class="embed-responsive-item" src="'+ media +'" type="video/mp4" controls></video>\
                          </div>'
                    } if (media && !(item.type === "youtube")) {
                          html += '<img data-toggle="modal" data-whatever="'+ media +'" data-target="#imageModal" style="display:block;height: 250px;width:100%;background-size: cover;background-image:url('+ media +')" >'
                    } else if (!(item.type === "youtube")) {
                          html += '<pre style="height: 250px;line-height: 25px;font-size: 16px;background: #ECF0F5;color: #333">'+ finalDescription +'</pre> '
                    } 
        html += '</div>\
                 <div style="margin:10px 0 5px 0;text-align: center;">'
                   if(!(status === "approved")) {
                        html += '<button onclick="refreshAction(\''+ item.objectId +'\')" type="button" style="padding:0px 5px;margin-left:10px" class="btn btn-info ">\
                        Refresh\
                        </button>'
                         html += '<a href = "edit_post_editor?postId='+ item.objectId +'" target="blank">'
                         html += '<button type="button" style="padding:0px 5px;margin-left:10px" class="btn btn-primary ">Edit\
                         </button></a>'
                         html += '<button data-toggle="modal" data-whatever="'+strForDelete +'" data-target="#deleteAction" type="button" style="padding:0px 5px;margin-left:10px" class="btn btn-danger">Delete</button>'
                    }
                 html += '</div>'
      html += '</div>'
  return html;
}

</script>
<% results.forEach(function (item) {-%>
  <div class="col-lg-6" id="rootDiv_<%= item.objectId %>">
  </div>
  <script type="text/javascript">
    var htmlItem = buildHtmlItem(<%- JSON.stringify(item) %>)
    $('#rootDiv_<%= item.objectId %>').append(htmlItem);
  </script>
<!--  closing the for loop -->
<% }); %>
<!-- Confirmaion -->
<div class="modal fade" style = "padding-top:15%" id="deleteAction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-footer">
          <label hidden="true" id="lblObjectId"></label>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="deleteAction()" id="btnSend">Delete</button>
        </div>
      </div>
  </div>
</div>

<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top: 10px">
    <div class="modal-content" style="padding: 5px;border-radius: 5px;width: 100%;margin: 0 auto;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img id="imageModalImg" src="" class="img-responsive">
    </div>
  </div>
</div>
<!-- Loading modal -->
  <div class="modal fade" style = "padding-top:15%" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-content" style="padding:10px;width: 50px;margin: 0 auto;border-radius: 5px">
            <div class="fa fa-spinner fa-spin text-light-blue" style="font-size: 30px;"></div>
      </div>
  </div>

<link rel="stylesheet" href="../lte/plugins/iCheck/square/blue.css">
<script src="../lte/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">

  
  // jquery extend function
$.extend(
{
    redirectPost: function(location, args)
    {
        var form = $('<form target="new"></form>');
        form.attr("method", "post");
        form.attr("action", location);
        var field = $('<input></input>');
        field.attr("type", "hidden");
        field.attr("name", "data");
        field.attr("value", args);
        form.append(field);
        $(form).appendTo('body').submit();
    }
});
 function onPushChange(objectId){
 	var params = {'objectId':objectId}
    if(document.getElementById('cbPushPost_'+objectId).checked) {
      	params.push = 1
    }
    else{
    	params.push = 0
    }
    params.status = "pending"
    var url = 'loadData?functionName=updatePostEditor'
    $('#loadingModal').modal('show');
    $.post( url, params)
    .done(function( results ) {
      console.log(results)
      $('#loadingModal').modal('hide');
    }).fail(function(xhr, status, error){
        $('#loadingModal').modal('hide');
        alert(xhr.responseText)
    });
  }

  function refreshAction(objectId){
      var url = 'loadData?functionName=fetchPostEditor'
      var params = {'objectId':objectId}
      $('#loadingModal').modal('show');
      $.post( url, params)
        .done(function( obj ) {
          $('#loadingModal').modal('hide');
            var elem = document.getElementById('divItem_'+objectId);
            elem.parentNode.removeChild(elem);
            obj.createdAgo = timeSince(obj.createdAt)
            obj.updatedAgo = timeSince(obj.updatedAt)
            if(obj.publishedAt)
              obj.publishedAgo = timeSince(obj.publishedAt.iso)
            if(obj.user && obj.user.createdAt)
                obj.user.createdAgo = timeSince(obj.user.createdAt)
            var htmlItem = buildHtmlItem(obj)
            $('#rootDiv_'+objectId).append(htmlItem);
        }).fail(function(xhr, status, error){
            $('#loadingModal').modal('hide');
            alert(xhr.responseText)
        });
    }
  
  function deleteAction(){
      var objectId = (document.getElementById('lblObjectId').innerHTML).trim();
      var url = 'loadData?functionName=deletePostEditor'
      var params = {'objectId':objectId}
      $('#loadingModal').modal('show');
      $.post( url, params)
          .done(function( results ) {
            $('#loadingModal').modal('hide');
            $('#deleteAction').modal('hide');
            var elem = document.getElementById('rootDiv_'+objectId);
            elem.parentNode.removeChild(elem);
          }).fail(function(xhr, status, error){
              $('#loadingModal').modal('hide');
              console.log(xhr)
              alert(xhr.responseText)
          });
    }
  $('#imageModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var data = button.data('whatever')
    var modal = $(this)
    var output = document.getElementById('imageModalImg');
    output.src = data
  })
  $('#deleteAction').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var data = button.data('whatever') 
    data =  eval('(' + data + ')')
    var modal = $(this)
    modal.find('.modal-title').text('Delete ' + decodeURIComponent(data.title)+' ?')
    document.getElementById('lblObjectId').innerHTML = data.objectId
  })
</script>